.manage-product{
    display: flex;
    justify-content: space-evenly;
}
.manage-product h6{
    width: 132px;
    margin: 10px 0;
    margin-left: -16%;
}
.manage-product h6.weight{
    margin-left: -5%;
    width: 56px;
}
.manage-product h6.price{
    padding-left: 14%;
}
.manage-product span{}
.manage-product button{
   background: red;
   border: none;
   margin-bottom: 17px;
   color: #fff;
   padding: 1px 5px;
   border-radius: 5px;
}
