
.home-section{
  padding-top:30px;
}
.header-section {
  float:left;
}

.header-name{}
.header-name h4{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 22px;
  color: currentColor;
}
.header-name h4 span{
  color:#28C852;
}
.menu{}
.menu ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.menu ul li{
  padding-left: 50px;
}
.menu ul li a{ 
  display: inline-block;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  text-decoration: none;
} 
.menu ul li a.login{
  background: #6CBA64;
  padding: 7px 23px;
  margin-top: -2px;
  color: #fff;
  font-weight: 500;
}

@media only screen and (max-width: 480px){
  .header-section{
    float: none;
  }
  .header-name h4{
    display: block;
    text-align: center;
  }
}